---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Who is behind Innowarmth?"
	pubDate={new Date('October 16 2024')}
	heroImage="/about_hero.jpeg"
>
	<p>
		<strong>Innowarmth</strong> is a company dedicated to merging innovation with warmth in its services. 
		We are dedicated to creating applications, SaaS, and IT services that, not only push the boundaries of technology, but also prioritize user comfort and utility. 
		Our main goal is on making our products accessible, intuitive, and helpful to enhance daily life.
	</p>

	<p>
		Created by <a href="https://www.linkedin.com/in/quentin-klein/">Klein Quentin</a>, in 2024, <strong>Innowarmth</strong> reason to exist is to produce 
		software solutions, but with users as the main focus, we ensure that technology works for you, delivering comfort and ease alongside high performance.
		Building software is easy, building user focused software is not.
	</p>

	<p>
		At <strong>Innowarmth</strong>, we believe that true innovation is not just about the latest advancements but about making them useful and accessible to everyone. 
		We believe that technology should be accessible, intuitive, and user friendly.
	</p>

</Layout>
