---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Privacy"
	description="Privacy Policy"
	pubDate={new Date('October 16 2024')}
>
	<p>
		<strong>Innowarmth</strong>, Sole Proprietor, specialized in programming, advising and developing software solutions.
	</p>

	<p>
		<ul>
            <li>SIREN: 924975618</li>
            <li>APE Code: 6201Z</li>
            <li>Headquarter: 263 RUE DE LILLE, 59223 RONCQ, FRANCE</li>
            <li>Publishing Director: Quentin KLEIN</li>
        </ul>
	</p>

	<p>
		<strong>Personnal Data</strong>
        Data collected on this website are only for the purpose of this website.
        As article 34 of the law "Informatique et Libertés" you have a right to access your personal data.
        If you want to know more, please contact us.
	</p>

    <p>
        <strong>Content copyright</strong>
        The content of this website is protected by copyright.
    </p>

    <p>
        <strong>Hosting</strong>
        Website hosted by OVH
        <a href="https://www.ovh.com">https://www.ovh.com</a>
        <br>
        OVH, 2 rue Kellermann, 59100 Roubaix, France
        <br>
        SIRET: 42476141900045
    </p>

</Layout>
