
---
import SocialLinks from "./SocialLinks.astro";

const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Innowarmth. All rights reserved.
	<br />
	<div style="display: flex; justify-content: center;">
		<SocialLinks />
	</div>	
	<div class="legal">
		<ul>
			<li><a href="/privacy">Privacy Policy</a></li>
		</ul>
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}

	.legal {
		margin-top: 2em;
	}

	.legal ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 0.5em;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}	
</style>
